<style>
    
</style>
</head>
<body>
    
        <hr />
        <div class = "sidebar">
            <br><br>
            <div class="">
                <a class="sidebar-element" href="{% url 'home' %}"><i class="fa-solid fa-house-chimney"></i></a>
            </div>

            <br><br>

            <div class="">
                <a class="sidebar-element" href="#"><i class="fa-solid fa-comments"></i></a>
            </div>

            <br><br>

            <div class="">
            <a class="sidebar-element" href="#"><i class="fa-solid fa-user"></i></a>
            </div>

            <br><br>

            <div class="">
            <a class="sidebar-element" href="#"><i class="fa-solid fa-cart-shopping"></i></a>
            </div>

            <br><br>

            <div class="">
            <a class="sidebar-element" href="#"><i class="fa-solid fa-globe"></i></a>
            </div>

            <br><br>

            <div class="">
            <a class="sidebar-element" href="{% url 'logout' %}"><i class="fa-solid fa-right-from-bracket"></i></a>
            </div>
         </div>
</body>
</html>