
<body>
        <div class = "sidebar">
            <br><br>
            <div class="">
                <a class="sidebar-element" href="{% url 'home' %}"><i class="fa-solid fa-house-chimney"></i></a>
            </div>

            <br><br>

            <div class="">
                <a class="sidebar-element" href="{% url 'chat-home' %}"><i class="fa-solid fa-comments"></i></a>
            </div>

            <br><br>

            <div class="">
            <a class="sidebar-element" href="{% url 'userprofile' request.user %}"><i class="fa-solid fa-user"></i></a>
            </div>

            <br><br>

            <div class="">
            <a class="sidebar-element" href="#"><i class="fa-solid fa-cart-shopping"></i></a>
            </div>

            <br><br>

            <div class="">
            <a class="sidebar-element" href="{% url 'globalpage' %}"><i class="fa-solid fa-circle-notch"></i></a>
            </div>

            <br><br>

            <div class="">
            <a class="sidebar-element" href="{% url 'logout' %}"><i class="fa-solid fa-right-from-bracket"></i></a>
            </div>
         </div>
</body>
