{% extends 'basic/main.html' %}
{% load static %}

{%load crispy_forms_tags %}

{% block content %}

<style>
    a{
        text-decoration: none;
        color: black;
        
    }

    .update-link:hover{
        color:rgb(59, 116, 208);
    }
    .trash:hover{
        color:rgb(209, 0, 0);
    }

    .btn-custom{
        width: 10rem;
    }
    
</style>


<div class="row" >

    <hr>

    <div class="col-lg-7 previewpost">

            {% if request.user.username == post.creator|safe %}
            <div style="float: right;">
                <a class="update-link" href="{% url 'update-post' post.id %}"><i class="fa-solid fa-pen-to-square"></i></a>
                &nbsp;&nbsp;
                <a class="trash" href="{% url 'delete-post' post.id %}"><i class="fa-solid fa-trash"></i></a>
            </div>
            
            {% endif %}
           
            <b><span><a class="previewpost-creatorname" href="/peopleprofile/{{post.creator}}">@{{post.creator}}</a></span></b> <small>{{post.date_create}}</small>
            <br>
            
            <br>
            <a href="{% url 'previewpost' post.id  %}"><img  src="{{post.image.url}}" alt=""></a>


            <!-- Like and comment block -->
            <div class="preview-like-comment">
                <div style="" class="preview-like-element">
                    <form action="{% url 'like-previewpost' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="post_id" value="{{post.id}}">
                        {% if request.user not in post.likes.all %}
                            <button type="submit" class="btn btn-lg btn-custom">
                                <i class="far fa-thumbs-up"> {{post.likes.all.count}}</i></button>
                        {% else %}
                            <button type="submit" class="btn btn-lg btn-custom">
                                <i class="far fa-solid fa-thumbs-up" style="color:rgb(159, 30, 30)"> {{post.likes.all.count}}</i></button>
                        {% endif %}
                        
                    </form>
                </div>
                
                <div class="preview-comment-element">
                    <a href="{% url 'previewpost' post.id %}" type="submit" class="btn btn-lg btn-custom" ><i class="far fa-comment-dots"> {{post.comments.all.count}}</i></a>
                </div>
            </div>
            
            <!-- end of Like and comment block -->
            <hr>
            <!-- Post caption -->
            <p class="previewpost-caption" style=""> &nbsp; - {{post.caption}}</p>
            <!-- end of Post caption -->

            <hr>


            
            
                
        <!-- <a href="/upvote/{{i.id}}">Upvote</a>
        <a href="/downvote/{{i.id}}">Downvote</a> -->
        <!-- <a href="{% url 'previewpost' post.id %}">Comment</a> -->



    </div>


    <div class="col-lg-5 preview-comment-section">

        <!-- Comment Box -->
        <form action="" method="post" >
            {% csrf_token %}
            <div class="d-none">{{form.post}}</div>
            <div class="d-none">{{form.user}}</div>
            <div class="col-lg-12" >{{form.body|as_crispy_field}}</div>
            <div class="col-lg-12">
                <input class="btn btn-info btn-block" type="submit" value="Submit">
            </div>
        </form>
        <!-- End of Comment Box -->

        <hr>


        {% for comment in comments %}
        {% if comment.is_parent %}
            <hr>
            <small>
            <strong>
                @{{comment.user}}
            </strong>
            &nbsp; <span>{{comment.date_create}}</span> 
            </small>
            &nbsp;
                <a class="trash" href="{% url 'delete-comment' comment.id post.id %}"><i class="bi bi-trash"></i></a>
                <br>
            
            
            {{comment.body}}
            
            <div class="d-flex flex-row">

                <form method="POST" action="{% url 'comment-like' post.id comment.id %}">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <button class="btn" type="submit">
                        <i class="far fa-thumbs-up"></i> <span>{{ comment.likes.all.count }}</span>
                    </button>
                </form>

                <form method="POST" action="{% url 'comment-dislike' post.pk comment.pk %}">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <button class="btn" type="submit">
                        <i class="far fa-thumbs-down"></i> <span>{{ comment.dislikes.all.count }}</span>
                    </button>
                </form>

                <div>
                    <button class="btn"><i class="far fa-comment-dots" onclick="commentReplyToggle('{{ comment.id }}')"></i></button>
                </div>

            </div>

            <!-- Replay Comment Box -->
            <div class="d-none mt-3" id="{{comment.id}}" >
                <form action="{% url 'comment-reply' post.pk comment.pk %}" method="post">
                    {% csrf_token %}
                    <div class="d-none">{{form.post}}</div>
                    <div class="d-none">{{form.user}}</div>
                    <div class=" " >{{form.body|as_crispy_field}}</div>
                    <div class=" ">
                        <input class="btn btn-info btn-block" type="submit" value="Submit">
                    </div>
                </form>
            </div>
            <!-- End of Replay Comment Box -->
        
            {% for child_comment in comment.children %}
            <div class="row mt-3 mb-5" style="margin-left: 2rem;">
                <div class="col-md-5 col-sm-12 border-bottom">
                    <small>
                        
                        <strong>
                            @{{child_comment.user}}
                        </strong>

                        &nbsp; 

                        <span>{{child_comment.date_create}}</span> 

                    </small>
                        &nbsp;
                            <a class="trash" href="{% url 'delete-comment' child_comment.id post.id%}" ><i class="bi bi-trash"></i></a>
                            <br>
                        
                        {{child_comment.body}}
                </div>
            </div>
            
            {% endfor %}
        {% endif %}
        {% endfor %}

        <br>

    </div>

</div>

{% endblock content %}