{% extends 'basic/main.html' %}
{% load static %}

{%load crispy_forms_tags %}

{% block content %}

<style>
    a{
        text-decoration: none;
        color: black;
        
    }
    a:hover{
        color:rgb(209, 0, 0);
    }
</style>


<div>
    <h3 style="margin-left:70px">Preview Post</h3>

    <hr>

    <div class="col-lg-6" style="margin-left:50px">

        {% if request.user.username == post.creator|safe %}
        <a href="{% url 'update-post' post.id %}">update post</a>
        <a href="{% url 'delete-post' post.id %}">delete post</a>
        {% endif %}
        <br>
        <br>
        <b><span><a href="/peopleprofile/{{post.creator}}">@{{post.creator}}</a></span></b> <small>{{post.date_create}}</small>
        <br>
        <br>
        {{post.caption}}
        <br>
        <br>
        <a href="{% url 'previewpost' post.id %}"><img src="{{post.image.url}}" alt="" style="width:740px;"></a>
        <br>
        <br>
        <strong>{{post.likes.all.count}} Likes</strong>
        
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        <strong>{{post.comments.all.count}} comment</strong>
        <br>

        <form action="{% url 'like-post' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="post_id" value="{{post.id}}">
            {% if request.user not in post.likes.all %}
                <button type="submit" class="btn btn-primary btn-sm">Like</button>
            {% else %}
                <button type="submit" class="btn btn-danger btn-sm">Unlike</button>
            {% endif %}
            
        </form>
        

        <!-- <a href="/upvote/{{i.id}}">Upvote</a>
        <a href="/downvote/{{i.id}}">Downvote</a> -->
        <!-- <a href="{% url 'previewpost' post.id %}">Comment</a> -->

        <br>
        <!-- Comment Box -->
        <form action="" method="post">
            {% csrf_token %}
            <div class="d-none">{{form.post}}</div>
            <div class="d-none">{{form.user}}</div>
            <div class="col-lg-12" >{{form.body|as_crispy_field}}</div>
            <div class="col-lg-12">
                <input class="btn btn-info btn-block" type="submit" value="Submit">
            </div>
        </form>
        <!-- End of Comment Box -->
        <hr>


        {% for comment in comments %}
        {% if comment.is_parent %}
            <hr>
            <small>
            <strong>
                @{{comment.user}}
            </strong>
            &nbsp; <span>{{comment.date_create}}</span> 
            </small>
            &nbsp;
                <a href="{% url 'delete-comment' comment.id post.id %}"><i class="bi bi-trash"></i></a>
                <br>
            
            
            {{comment.body}}
            
            <div class="d-flex flex-row">
                <form method="POST" action="{% url 'comment-like' post.id comment.id %}">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <button class="btn" type="submit">
                        <i class="far fa-thumbs-up"></i> <span>{{ comment.likes.all.count }}</span>
                    </button>
                </form>
                <form method="POST" action="{% url 'comment-dislike' post.pk comment.pk %}">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <button class="btn" type="submit">
                        <i class="far fa-thumbs-down"></i> <span>{{ comment.dislikes.all.count }}</span>
                    </button>
                </form>
                <div>
                    <button class="btn"><i class="far fa-comment-dots" onclick="commentReplyToggle('{{ comment.id }}')"></i></button>
                </div>
            </div>

            <!-- Replay Comment Box -->
            <div class="d-none mt-3" id="{{comment.id}}" >
                <form action="{% url 'comment-reply' post.pk comment.pk %}" method="post">
                    {% csrf_token %}
                    <div class="d-none">{{form.post}}</div>
                    <div class="d-none">{{form.user}}</div>
                    <div class="col-lg-12" >{{form.body|as_crispy_field}}</div>
                    <div class="col-lg-12">
                        <input class="btn btn-info btn-block" type="submit" value="Submit">
                    </div>
                </form>
            </div>
            <!-- End of Replay Comment Box -->
        
            {% for child_comment in comment.children %}
            <div class="row mt-3 mb-5" style="margin-left: 3rem;">
                <div class="col-md-5 col-sm-12 border-bottom">
                    <small>
                        <strong>
                            @{{child_comment.user}}
                        </strong>
                        &nbsp; 
                        <span>{{child_comment.date_create}}</span> 
                    </small>
                        &nbsp;
                            <a href="{% url 'delete-comment' child_comment.id post.id%}" style="float:right"><i class="bi bi-trash"></i></a>
                            <br>
                        
                        
                        {{child_comment.body}}
                </div>
            </div>
            
            {% endfor %}
        {% endif %}
        {% endfor %}

        <br>

        
        
    </div>

</div>

{% endblock content %}