{% extends 'basic/main.html' %}
{% load static %}
{% block content %}



<div class="row container">

    <div class="col-lg-2 col-md-2 col-12">
        {% include 'basic/sidebar.html' %}
    </div>


    
    <div class="col-lg-10">
        <div id="carouselExampleSlidesOnly" style="margin-right: -10rem; margin-left: -2rem;" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active banner">
                {% if circle.cover_photo %}
                  <img src="{{circle.cover_photo.url}}" class="d-block w-100" alt="...">
                {% else %}
                  <img src="{% static 'images/hero/default-circle-cover.png' %}" class="d-block w-100" alt="...">
                {% endif %}
              </div>
            </div>
        </div>

        <div class="bio">
            <div class="card">
                <div class="card-header">
                  <p style="font-weight: 600; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; margin-bottom: 0rem;">created by {{circle.circle_creator.fname}} {{circle.circle_creator.lname}}</p>
                </div>
                <div class="card-body">
                    <div class="circle-header-info">
                        <div style="float: left;">
                            <h4 style="font-weight: 700;" class="card-title">{{circle.name}} &nbsp; </h4>
                            <p class="card-text" style="margin-right: 15rem;">{{circle.description}}</p>
                        </div>
                    </div>
                    <div class="circlepage-join-btn-div" style="float: right;">
                        <form class="" action="{% url 'join' %}" method="post" style="float: right;">
                            {% csrf_token %}
                            <input type="hidden" name="circle_id" value="{{circle.id}}">
                            <input type="hidden" name="flag" value="1">
                            {% if request.user.userregister not in circle.members.all %}
                                <button style="width: 6rem; border-radius: 0.5rem;" type="submit" class="btn btn-lg btn-block" id="">Join</button>
                            {% else %}
                                <button style="width: 6rem;" type="submit" class="btn btn-lg btn-block" id="">Leave</button>
                            {% endif %}
                            
                        </form>
                        {% if request.user.userregister in circle.members.all %}
                        <div style="float: right;">
                            <a href="{% url 'circle-chat' circle.name %}" class="btn btn-lg btn-block">Chat</a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

          <div class="row">

            <div class="col-lg-6 col-md-5 col-12">

                {% if flag == True %}
        
                <div>
                    <div class="card create-post-card" style="width: 33rem;">
                        <div class="card-body input-group mb-3">
                            <div class="input-group create-post-card-body">

                                {% if request.user.userregister.image %}
                                <img src="{{request.user.userregister.imageURL}}" width="40rem" style="border-radius: 50%;" alt=""> &nbsp; &nbsp;
                                {% else %}
                                <img src="{% static 'images/hero/default-profile.png' %}" width="40rem" style="border-radius: 50%;" alt=""> &nbsp; &nbsp;
                                {% endif %}

                                <a style="width: 24rem;" href="{% url 'create-circle-post' circle.name %}"><input type="text" class="form-control" placeholder="Create Post" aria-label="Recipient's username" aria-describedby="button-addon2"></a>
                                <div class="input-group-append">
                                  <button class="btn" type="button" id="button-addon2"><i class="bi bi-image"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                
                
    
                    <div class=" profile-feed">
                        <!-- <h5 style="margin-left:70px">Local Feed</h5> -->
                        {% for i in post %}
        
        
                        <div class="card card-profile shadow-sm">
        
                            {% if request.user.username == i.creator|safe %}
                            <div class="profile-upandde">
                                <a class="trash float-right" href="{% url 'delete-post' i.id %}" style="margin-right: 1rem;"><i class="fa-solid fa-trash"></i></a>
                                
                                <a class="update-link float-right" href="{% url 'update-post' i.id %}" style="margin-right: 1rem;"><i class="fa-solid fa-pen-to-square"></i></a>
                                
                            </div>
                            {% endif %}
                            <div>
                                <div class="profile-creator-and-date">
                                    <b><span class="username-profilefeed"><a href="/peopleprofile/{{i.creator}}">@{{i.creator}}</a></span></b> 
                                    <b><span class="circlename-profilefeed">{{i.circle}}</span></b>
                                     <small>{{i.date_create}}</small>
                                </div>
                                
                                <a href="{% url 'previewpost' i.id %}" ><img src="{{i.image.url}}" class="card-img-top profilefeed-img" alt="..."></a>
                            </div>
                            
                    
        
                            {% if flag == True %}

                            <form class="like-profile" action="{% url 'like-post' 'c' circle.name %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="post_id" value="{{i.id}}">
                                {% if request.user not in i.likes.all %}
                                    <button style="width: 4rem;" type="submit" class="btn btn-sm btn-like shadow-sm" id=""><i class="bi bi-hand-thumbs-up"></i> {{i.likes.all.count}}</button>
                                {% else %}
                                    <button style="width: 4rem; color: rgb(204, 52, 52);" type="submit" class="btn  btn-sm btn-unlike shadow-sm" id=""><i class="bi bi-hand-thumbs-up-fill "></i> {{i.likes.all.count}}</button>
                                {% endif %}
                                
                            </form>
                            
        
                            <a id="comment-profile" class="btn  btn-sm comment-profile shadow-sm" href="{% url 'previewpost' i.id %}">
                                <i class="fa-regular fa-comment"></i> {{i.comments.all.count}}</a>
                            {% else %}

                            <p style="margin-top: -3rem;"></p>

                            {% endif %}
                            
                            <div class="caption-profile">
                                <div class="card-body">
                                    <p class="card-text">{{i.caption}}</p>
                                </div>
                    
                            </div>
                    
                        </div>
        
                        {% endfor %}
                    </div>
                
        
             
               
            </div>


            <div class="col-lg-6 col-md-5 col-12">


                <div class="profile-details">
                    <div class="profile-image-div-cricle">
                        <div class="" style="width: 18rem; border-radius: 50%;">
                            <div class="image-cropper">
                                {% if circle.image %}
                                <img src="{{circle.imageURL }}" class="card-img-top" alt="...">
                                {% else %}
                                <img src="{% static 'images/hero/default-circle-profile.jpg' %}" class="card-img-top" alt="...">
                                {% endif %}
                            </div>
                            <div class="card-body">
                            </div>
                        </div>
                    </div>
            
                    
            
            
                    <div>
                        <div id="about" class="card border-info profile-details-card">
                            <div class="container card-body text-dark">
                                
                              <a style="float: right;" href="{% url 'updatecircle' circle.name %}"><i class="fa-solid fa-pen-to-square"></i></a>
                                <br>
                                <p>Neighbourhood : <strong>{{request.user.userregister.neighbourhood}}</strong></p>
                                <br>
                                <p>Name : <strong>{{circle.name}}</strong></p>
                                <br>
                                <p>Description : <strong>{{circle.description}}</strong></p>
                                <br>
                                <p>Email : <strong></strong></p>
                                <br>
                                <p>Phone Number : <strong></strong></p>
                                <br>
                            </div>
                          </div>
                    </div>

                    <div class="members">
                        <div class="card members-card">
                            <div class="">
                                <h6 class="" style="margin: 0.5rem; color: gray; text-align: center;">Circle Members</h6>
                            </div>

                            {% if members %}
                    
                                {% for member in members %}
                                {% if forloop.first %}
                                <div class="row mx-auto card-body members-local-body">
                                {% endif %}
                                    <div class="col-lg-2 members-elements">
                                        <div class="image-cropper-member-circle" >
                                            {% if member.image %}
                                            <a href="{% url 'userprofile' member.username %}"><img src="{{member.imageURL}}"  alt=""></a>
                                            {% else %}
                                            <a href="{% url 'userprofile' member.username %}"><img src="{% static 'images/hero/default-profile.png' %}"  alt=""></a>
                                            {% endif %}
                                        </div>
                                        <p class="card-text">{{member.username}}</p>
                                    </div>
                                {% if forloop.counter|divisibleby:5 %} 
                                </div> <div class="row mx-auto">{% endif %} {% if forloop.last %}</div> {% endif %}
                                {% endfor %}
                                
                                {% if members.count >= 10 %}
                                <div >
                                    <a href="http://" class="btn btn-light btn-block  circle-showmore-btn">show more</a>
                                </div>
                                {% endif %}
                            {% endif %}
                            
                            
                        </div>
                    </div>
                </div>
        
            </div>
        </div>
        

          </div>
    </div>


    



    



{% endblock content %}




<!-- <div>
            <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
                <div class="input-group mb-3">
                    <input type="text" class="form-control" name="neighbourhood" placeholder="Recipient's username" style="text-transform: capitalize;" aria-label="Recipient's username" aria-describedby="button-addon2">
                    <div class="input-group-append" style="width: 50%;">
                    <input type="submit" value="Submit" class="btn btn-outline-secondary" id="button-addon2">
                    </div>
                </div>
            </form>
        </div> -->


        <!-- <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <br>
            <br>
        
            <label for="neighbourhood">Neighbourhood :</label>
            <input name="neighbourhood" type="text" style="text-transform: capitalize;"></input>
            <br>
            <br>
            <input type="submit" value="Submit">
        </form> -->

