{% extends 'basic/main.html' %}

{% block content %}
{%load crispy_forms_tags %} 

<style>
    body{
        background-color: #e5ffff;
    }
</style>

<div style="margin-top: 1.3rem !important;">
    <p class="home-global-title-card shadow-lg display-4" style="font-size: 2.2rem; font-weight: 300; background-color: white; width: 45rem;height: 4rem; margin-left: 18rem; padding-top: 0.6rem; text-align: center; background-image: linear-gradient(135deg, #43CBFF 10%, #9708CC 100%); border-radius: 1rem 1rem 0 0;">Whats on your mind, <span>{{request.user.userregister}} ?</span></p>
</div>


<div class="card shadow-lg" style="width: 45rem;margin-left: 18rem;margin-top: 0rem; padding: 1rem; padding-top: 0; border-radius: 0 0 1rem 1rem;">
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <!-- {{form|crispy}} -->

        <div class="row">

            <div class="col-lg-12">
                <div class="">{{form.caption|as_crispy_field}}</div>
            </div>

        </div>

        <div class="row">

            <div class="col-lg-12">
                <div class="" style="border: solid; border-color: gray;margin-bottom: 0.4rem; padding-left: 1rem;">{{form.image|as_crispy_field}}</div>
            </div>

        </div>

        <div class="row">

            <div class="col-lg-6">
                <div class="">{{form.local_visibility|as_crispy_field}}</div>
            </div>

            <div class="col-lg-6">
                <div class="">{{form.global_visibility|as_crispy_field}}</div>
            </div>

        </div>
        


        <div class="d-none">{{form.circle|as_crispy_field}}</div>
        <div class="d-none">{{form.creator}}</div>
        <div class="d-none">{{form.likes}}</div>
        <div class="d-none">{{form.commets}}</div>
    
        <input type="submit" value="Submit">
    </form>
</div>



{% endblock content %}