<div class="card circle-card">
        <div class="">
            <h6 class="" style="margin: 0.5rem; color: gray; text-align: center;">Your Neighbourhood Circles</h6>
        </div>

        {% for circle in circles %}
              
          
                {% if forloop.first %}
                <div class="row mx-auto card-body circle-local-body">
                {% endif %}
                    <div class="col-lg-2 bg-light shadow-sm circle-elements">
                        <div class=" image-cropper-circle" >
                            <a href="{% url 'circle' circle.name %}"><img src="{{circle.imageURL}}"  alt=""></a>
                        </div>
                        <p class="card-text">{{circle.name}}</p>
                        <div class="circle-join-btn-div">
                            
                            <!-- {% if flag == request.user.userregister %}
                                <a href="{% url 'join-circle' circle.name %}" class="btn btn-sm  btn-block">Leave</a>
                            {% else %}
                                <a href="{% url 'join-circle' circle.name %}" class="btn btn-sm  btn-block">Join</a>
                            {% endif %} -->

                            <form class="" action="{% url 'join' %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="circle_id" value="{{circle.id}}">
                                {% if request.user.userregister not in circle.members.all %}
                                    <button style="width: 4rem;" type="submit" class="btn btn-sm  btn-block" id="">Join</button>
                                {% else %}
                                    <button style="width: 4rem;" type="submit" class="btn btn-sm  btn-block" id="">Leave</button>
                                {% endif %}
                                
                            </form>
                            
                        </div>
                        
                        
                    </div>
                {% if forloop.counter|divisibleby:5 %} 
                </div> <div class="row mx-auto">{% endif %} {% if forloop.last %}</div> {% endif %}

            
        {% endfor %}

        <div >
            <a href="http://" class="btn btn-light btn-block  circle-showmore-btn">show more</a>
        </div>
        
        
</div>