{% load i18n %}

<div class="row global-feed" >

    <!-- <div>
        <div class="card home-global-title-card shadow">
            <div class="card-body" style="width: 26rem; height: 5rem;">
                <h5 class="" style="text-align: center; padding-top: 0.5rem;">Global Feed</h5>
            </div>
        </div>
    </div> -->

    <div>
        {% include 'home/suggestions.html' %}
    </div>
    


    <div class=" global-feed">
        <!-- <h5 style="margin-left:70px">Local Feed</h5> -->
        {% for i in post %}


        <div class="card card-global shadow">

            <div>
                <div class="global-creator-and-date">
                    <b><span class="username-globalfeed"><a href="{% url 'userprofile' i.creator %}">@{{i.creator}}</a></span></b> &nbsp; <small style="color: grey;">{{i.date_create}}</small>
                </div>
                <a href="{% url 'previewpost' i.id %}" ><img src="{{i.imageURL}}" class="card-img-top globalfeed-img" alt="..."></a>
            </div>
            
    


            <form class="like-global" action="{% url 'like-post' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="post_id" value="{{i.id}}">
                {% if request.user not in i.likes.all %}
                    <button type="submit" class="btn  btn-sm btn-like shadow-sm" id=""><i class="bi bi-hand-thumbs-up"></i> {{i.likes.all.count}}</button>
                {% else %}
                    <button type="submit" style="color: rgb(204, 52, 52);" class="btn  btn-sm btn-unlike shadow-sm" id=""><i class="bi bi-hand-thumbs-up-fill "></i> {{i.likes.all.count}}</button>
                {% endif %}
                
            </form>
            

            <a id="comment-global" class="btn  btn-sm comment-global shadow-sm" href="{% url 'previewpost' i.id %}">
                <i class="fa-regular fa-comment"></i> {{i.comments.all.count}}</a>
            
            <div class="caption-global">
                <div class="card-body">
                    <p class="card-text">{{i.caption}}</p>
                </div>
    
            </div>
    
        </div>

        
        {% endfor %}
    </div>








    <!-- {% for i in post %}
    <div style="margin-left:50px">
        <hr>

        {% if request.user.username == i.creator|safe %}
        <div style="float: right;">
            <a href="{% url 'update-post' i.id %}"><i class="fa-solid fa-pen-to-square"></i></a>
            &nbsp;
            <a class="trash" href="{% url 'delete-post' i.id %}"><i class="fa-solid fa-trash"></i></a>
        </div>
        {% endif %}
        <b><span><a href="/peopleprofile/{{i.creator}}">@{{i.creator}}</a></span></b>&nbsp;<small>{{i.date_create}}</small>
        <br>
        <a href="{% url 'previewpost' i.id %}"><img src="{{i.image.url}}" alt="" style="width:26rem; margin: 0.3rem; margin-top: 1rem;"></a>
        
    </div>
    <div>
        <form class="like-global" action="{% url 'like-post' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="post_id" value="{{i.id}}">
            {% if request.user not in i.likes.all %}
                <button type="submit" class="btn btn-danger btn-sm" id="rotate">
                    <i class="bi bi-hand-thumbs-up"></i> {{i.likes.all.count}}</button>
            {% else %}
                <button type="submit" class="btn btn-danger btn-sm" id="rotate">
                    <i class="bi bi-hand-thumbs-up-fill"></i> {{i.likes.all.count}}</button>
            {% endif %}


            <a id="comment-global" class="btn btn-info btn-sm comment-global"  href="{% url 'previewpost' i.id %}">
                <i class="fa-solid fa-comment"></i> {{i.comments.all.count}}</a>
        </form>
    </div>

        
        <p style="margin-left:4rem; margin-right:-5.5rem; text-align: justify;"> &nbsp; - {{i.caption}}</p>
    {% endfor %} -->
</div>