<div>
    <h3 style="margin-left:70px">Local Feed</h3>

    <hr>

    {% for i in post %}
    <div style="margin-left:50px">

        {% if request.user.username == i.creator|safe %}
        <a href="{% url 'update-post' i.id %}">update post</a>
        <a href="{% url 'delete-post' i.id %}">delete post</a>
        {% endif %}
        <br>
        <br>
        <b><span><a href="/peopleprofile/{{i.creator}}">@{{i.creator}}</a></span></b>&nbsp;<small>{{i.date_create}}</small>
        <br>
        <br>
        {{i.caption}}
        <br>
        <br>
        <a href="{% url 'previewpost' i.id %}"><img src="{{i.image.url}}" alt="" style="width:540px;"></a>
        <br>
        <br>
        <strong>{{i.likes.all.count}} Likes</strong>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        <strong>{{i.comments.all.count}} comment</strong>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        {{i.commentcount}}
        <br>

        <form style="float: left;" action="{% url 'like-post' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="post_id" value="{{i.id}}">
            {% if request.user not in i.likes.all %}
                <button type="submit" class="btn btn-primary btn-sm">Like</button>
            {% else %}
                <button type="submit" class="btn btn-danger btn-sm">Unlike</button>
            {% endif %}
            
        </form>

        <a style="float: right;" class="btn btn-info btn-sm" href="{% url 'previewpost' i.id %}">Comment</a>

        <!-- <a href="/upvote/{{i.id}}">Upvote</a>
        <a href="/downvote/{{i.id}}">Downvote</a> -->
        <br>
        <hr>
        
    </div>
    {% endfor %}
</div>