{% extends '../basic/main.html' %}

{% block content %}


<style>

/* body {
  margin: 0 auto;
  max-width: 800px;
  padding: 0 20px;
} */

.container {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 70px;
}

.rooms{
  margin-top: 1rem;
}

.darker {
  text-align: left;
  padding-left: 1rem;
  padding-top: 0.7rem;
  margin-bottom: -0.6rem;
  border-radius: 1rem;
  border-color: #ccc;
  background-color: #ddd;
  height: 3rem;
}

.container::after {
  content: "";
  clear: both;
  display: table;
}

.container img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

.container img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

.time-right {
  float: right;
  color: #aaa;
}

.time-left {
  float: left;
  color: #999;
}
</style>



    <style>
    input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    }

    input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    }

    input[type=submit]:hover {
    background-color: #45a049;
    }

    div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    }

    @media (max-width:780px){
      .box{
        margin-left:0rem;
      }

      .rooms{
        height: 15rem;
        overflow: scroll;
      }

      .room-li{
        margin-left: -2rem;
      }

      .create-room{
        position: fixed;
        bottom: 0;
        z-index: 9;
        width: 100%;
        height: 13rem;
        margin-left: -0.7rem;
        padding-top: 0rem;
        background-color: rgb(255, 255, 255);
        overflow: hidden;
      }

      .create-room h5{
        margin-top: 0.5rem;
      }
    }
    </style>


<div align="center">
  <h2>heythere</h2>
</div>


<div class="row container box">


  <div class="col-lg-6 col-md-12 col-12 rooms-available">
    <center>
      <h5>Rooms available </h5>
    </center>

    <div class="rooms">
      {% for room in rooms %}
      <ul>
        <a href="{% url 'room' room.name %}"><li class="darker room-li">{{room.name}}</li></a>
      </ul>
      {% endfor %}
    </div>
    
  </div>


  <div class="col-lg-6 col-md-12 col-12 create-room">
    <center>
      <h5>Create Room</h5>
    </center>
    <form id="post-form" method="POST" action="{% url 'checkview' %}">
      {% csrf_token %}
      <label>Room Name</label>
      <input type="text" name="room_name" id="room_name" width="100px" />
      <!-- <label>Username</label>
      <input type="text" name="username" id="username" width="100px" /> -->
      <input type="submit" value="Create Room">
    </form>
  </div>
    
</div>


{% endblock content %}