{% extends 'basic/main.html' %}

{% block content %}


<div class="row">
    <div class="col-lg-2 col-md-2 col-12">
        {% include 'basic/sidebar.html' %}
    </div>

    <div class="col-lg-5 col-md-5 col-12">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
        
            <!-- <label for="usename">Username :</label>
            {{form.username}} -->
        
            <br>
            <br>
        
            <label for="neighbourhood">Neighbourhood :</label>
            <input name="neighbourhood" type="text" style="text-transform: capitalize;"></input>
            <br>
            <br>
            <input type="submit" value="Submit">
        </form>
    </div>

    <div class="col-lg-5 col-md-5 col-12">
        
        <a href="{% url 'updateprofile' request.user.username %}">updateprofile</a>
        
        <p>Username : <strong>{{user.username}}</strong></p>
        <br>
        <p>Neighbourhood : <strong>{{user.neighbourhood}}</strong></p>
        <br>
        <p>First Name : <strong>{{user.fname}}</strong></p>
        <br>
        <p>Last Name : <strong>{{user.lname}}</strong></p>
        <br>
        <p>Email : <strong>{{user.email}}</strong></p>
        <br>
        <p>Phone Number : <strong>{{user.phonenumber}}</strong></p>
        <br>
        <p>Gender : <strong>{{user.gender}}</strong></p>
        <br>
        <p>Bio : <strong>{{user.bio}}</strong></p>
        <br>
        <p>Date of Birth : <strong>{{user.dob}}</strong></p>
        <br>
        <p>Age : <strong>{{user.age}}</strong></p>
        <br>
        <p>Profile Picture : <strong>{{user.propic}}</strong></p>

        
        
    </div>
</div>



{% endblock content %}
