.circle-card{
    width: 36rem;
    height: 17.5rem;
    margin-left: -2rem;
    border-radius: 1rem;
    border: 0;
}

.circle-card a{
    border-radius: 0rem 0rem 1rem 1rem;
}

.circle-elements{
    margin-right: 2rem;
    margin-left: -1rem;
    width: 36rem !important;
    transition: 100ms;
    
}

.circle-elements:hover {
    transform: translate3d(10px,0px,20px);
}


.circle-elements p{
    font-size: 14px;
    width: 4rem;
    overflow: hidden;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

.circle-join-btn-div{
    margin-top: -0.5rem;
}

.circle-join-btn-div a{
    background-color: #009dd1;
    color: whitesmoke;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 600;
    font-size: small;
    text-align: center;
    margin-left: 0rem;
    border-radius: 1rem;
}

.circle-join-btn-div a:hover{
    background-color: #0087b4;
    color: whitesmoke;
    font-weight: 600;
    margin-left: 0rem;
    border-radius: 1rem;
}

.circle-local-body{
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    margin-left: 0.3rem !important;
}

.image-cropper-circle {
    margin-left: -1rem;
    width: 6rem;
    height: 6rem;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    border: solid;
    border-color: #16a0b6;
  }

.image-cropper-circle img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
  }

.circle-showmore-btn{
    border-radius: 0rem 0rem 0rem 0rem;
}


.members-card{
    width: 26rem;
    height: 17.5rem;
    margin-top: 1rem;
    margin-left: -6rem;
    border-radius: 1rem;
    border: 0;
}

.members-elements{
    margin-right: rem;
    margin-left: rem;
    width: 28rem;
    
}

.members-elements p{
    font-size: 14px;
    width: 4rem;
    overflow: hidden;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    margin-left: -0.1rem;
}


.members-local-body{
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    margin-left: 0.3rem !important;
}

.image-cropper-member-circle {
    margin-left: -0.2rem;
    width: 4rem;
    height: 4rem;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    border: solid;
    border-color: #16a0b6;
  }

.image-cropper-member-circle img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
  }