a:link{
    text-decoration: none!important;
    color: black;
  }

a{
    color: rgb(0, 0, 0);
}

.update-link:hover{
  color:rgb(59, 116, 208);
}
.trash:hover{
  color:rgb(209, 0, 0);
}

.btn-custom{
  width: 10rem;
}

.like-local{
  margin-left: 33.5rem;
  margin-top: -7.5rem;
  width: 5rem !important;

}

.comment-local{
  margin-left: 33.5rem;
  margin-top: 0.5rem;
}

.like-global{
  margin-left: 3.2rem;
  margin-top: -9.4rem;
  width: 5rem !important;
}

.comment-global{
  margin-left: -3rem;
  margin-top: 4.8rem;
}

.localfeed-img{

  width:35rem;
  margin:1rem;

}


.craate-post{
  margin-left: 14rem;
  margin-top: 1rem;
}

.navigation-top{
  position: fixed;
  z-index: 9;
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 3rem;
  padding-top: 0.5rem;
}

.caption-local{
  margin-left:2rem; 
  text-align: justify;
}

.previewpost img{
  width: 42rem;
}

.preview-like-comment{
  margin-left:5rem;
}

.preview-comment-element{
  float: right;
  margin-top: -3.2rem; 
  margin-right:5rem;
}

.preview-comment-section{
  margin-top: 3rem;
}

.previewpost-creatorname{
  margin-left: 1rem;
}

.previewpost-caption{
  margin-left: 3rem; 
  margin-right: 2rem;
}

.local-feed{

}

@media (max-width:780px){
  .localfeed-img{
    width:30rem;
    margin-left: 0;
    margin-right: 0;
  }
  
}

@media (max-width:780px){
  .like-local{
    margin-left: 25.2rem;
    margin-top: -6.5rem;
    margin-bottom: 0.2rem;
  }

  .btn-like{
    width: 5rem !important;
  } 

  .btn-unlike{
    width: 5rem !important;
  } 
}

@media (max-width:780px){
  .comment-local{
    margin-left: 25.2rem;
    margin-top: 0.5rem;
    width: 5rem;
  }  
}


@media (max-width:780px){
  .sidebar{
    background-color: rgb(255, 255, 255);
    width: 100%;
    margin-top: -0.6rem;
    margin-left: -1rem;
    padding-top: 1rem;
    font-size: small;
    font-weight: 500;
    display:inline-flex;
    flex-direction:row;
    position: fixed;
    z-index: 9;
  }

  .sidebar-element{
    margin-left: 3.5rem;
  }

  .local-feed{
    margin-top: 1.5rem;
  }  

  .craate-post{
    position: fixed;
    bottom: 0;
    z-index: 9;
    width: 100%;
    height: 3.5rem;
    margin-left: -1rem;
    padding-top: 0.2rem;
    background-color: rgb(255, 255, 255);
  }

  .create-post-element{
    margin-left:15rem;
    font-size: xx-large;
  }

  .global-feed{
    display: none;
  }

  .caption-local{
    margin-left:2rem; 
    margin-right: -6rem;
    text-align: justify;
  }

  .previewpost img{
    width: 27rem;
    margin: 0;
  }

  .preview-like-comment{
    position: fixed;
    bottom: 0;
    z-index: 9;
    width: 100%;
    height: 3.5rem;
    margin-left: -0.1rem;
    background-color: rgb(255, 255, 255);
  }

  .preview-like-element{
    margin-left: 3.5rem;
    padding-top: 0.2rem;
  }

  .preview-comment-element{
    margin-right: 3.5rem;
    padding-top: 0.25rem;
  }
  
  .preview-comment-section{
    margin-top: 0rem;
    margin-left: 2rem;
    margin-right: -2rem;
    width: 100%;
  }

  .previewpost-caption{
    margin-left: 2.5rem; 
    margin-right: -2rem;
  }
  

}

@media (max-width:780px){
  .navigation-top{
    position: fixed;
    z-index: 9;
    background-color: rgb(255, 255, 255);
    width: 100%;
  }
  
}

@media (min-width:1080px){
  .sidebar-element{
    margin: 3.5rem;
    flex-direction:column;
    position: fixed;
  }

  .craate-post{
    margin-left: 18rem;
    margin-top: -0.4rem;
    font-size: xx-large;
  }

  .previewpost img{
    width: 42rem;
    margin-left: 2rem;
  }
  
}







