.image-cropper {
    width: 18rem;
    height: 18rem;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
  }

  .image-cropper img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center !important;
  }


  .profile-details{
    margin-left: 10rem;
    margin-right: 0rem;
  }

  
  .profile-image-div{
    margin-top: -20rem;
    width: 18rem;
    height: 18rem;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
  }

  .profile-image-div img{
    border: 10px !important;
    border-color: black !important;
  }

  .banner{
    width: 90%!important;
    height: 18rem;
    object-fit: cover;
    object-position: center !important;
    margin-left: 0rem;
  }

  .add-friend{
    margin-right: 18rem;
  }

  .neighbourhood-submit{
    margin-top: 3rem;
    max-width: 27rem; 
    margin-right: -3rem;
    margin-left: -7rem;
    margin-bottom: -2rem;
  }

  .profile-details-card{
    width: 26rem;
    margin-left: -6rem;
    border-radius: 1rem;
    border: 0;
    background-color: rgb(255, 255, 255);

  }

  .username-profilefeed{
    background-color: aqua;
    border-radius: 1rem 1rem 1rem 1rem;
    padding-top: 2px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 2.5px;
    font-size: 0.8rem;
  }

  .circlename-profilefeed{
    background-color: greenyellow;
    border-radius: 1rem 1rem 1rem 1rem;
    padding-top: 2px;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 4px !important;
    font-size: 0.7rem;
  }
  
  .like-profile{
    margin-left: 30.4rem;
    margin-top: -7.5rem;
    width: 2.8rem !important;
  
  }

  .comment-profile{
    margin-left: 30.4rem !important;
    margin-top: 0.5rem;
    width: 2.8rem !important;
  }
  
  
  .profile-local{
    margin-left: 33.4rem;
    margin-top: 0.5rem;
    width: 2.8rem !important;
  }
  
  .profile-upandde{
    position: relative;
    z-index: 10;
    margin: 0.5rem;
    margin-bottom: -1.5rem;
  }
  
  .profile-creator-and-date{
    margin: 0.5rem;
  }
  
  .caption-profile p{
    margin-top: 2rem;
    margin-bottom: -0.5rem !important;
    text-align: justify;
    font-family: 'Nunito', sans-serif !important;
    font-size: medium;
    font-weight: 400;
  }
  
  .card-profile{
    width: 33rem; 
    margin-left: -2rem;
    margin-top: 1rem; 
    margin-bottom: 1rem;
    border-radius: 1rem 1rem 1rem 1rem;
  }
  
  .profilefeed-img{
    width:32.9rem;
    margin-top:0.5rem;
    max-height: 34.9rem!important;
    object-fit: cover;
    object-position: center;
  }

  .bio{
    width: 61.2rem;
    margin-left: -2rem;
  }

#about{
  margin-top: 3.1rem !important;
}
  


.viewprofile-card{
  width: 28.5rem;
  max-height: 14.6rem;
  margin-left: -1.5rem;
  border-radius: 1rem;
  border: 0;
  padding-bottom: 1rem;
}

.viewprofile-card a{
  border-radius: 0rem 0rem 1rem 1rem;
}

.viewprofile-local-body{
  overflow-x: hidden;
  overflow-y: hidden;
  margin-left: 1rem !important;
  padding-bottom: 0.1rem;
}

.viewprofile-elements{
  margin-top:0.1rem;
  margin-right: 2rem;
  margin-left: 1rem;
  width: 160rem !important;
  height: 3rem;
  background-color: #f7f7f7;
  border-radius: 1rem;
}

.viewprofile-elements p{
  font-size: 14px;
  width: 4rem;
  overflow: hidden;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  margin-top: 0.8rem;
  margin-left: 0.5rem;
}


.viewprofile-join-btn-div{
 margin-top: 0.4rem;
}

.view-profile-btn{
  border-radius: 1rem !important;
  margin-right: 1rem;
  margin-top: 0.1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  color: white !important;
  background-color: #009dd1;
}

.viewprofile-showmore{
  margin-top: 0.4rem;
  margin-bottom: -1rem;
}

.image-cropper-viewprofile {
  margin-left: -1rem;
  width: 3rem;
  height: 3rem;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  border: solid;
  border-color: #0087b4;
}

.image-cropper-viewprofile img {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}